@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

.primary-btn {
  font-size: 1.25rem;
  background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  padding: 12.5px 16px;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}

.primary-btn:hover,
.transparent-btn:hover {
  transform: translateX(3px) translateY(3px);
}

nav {
  background-color: #1a0b2e;
  justify-content: space-around;
  align-items: center;
  height: 92px;
}

.logo h2 {
  color: #ffffff;
  font-size: 2rem;
}

.gradient-color {
  background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  list-style: none;
  gap: 32px;
}

nav li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
}

.menu-icon {
  display: none;
}

.hero {
  flex-direction: column;
  justify-content: center;
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding: 100px 0px;
}

.center-img {
  position: relative;
}

.circle {
  width: 100%;
  max-height: 350px;
}

.center-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new {
  background-color: #00ff88;
  font-weight: 600;
  color: #1a0b2e;
  padding: 8px 16px;
  position: absolute;
  top: 5%;
  left: 55%;
  border-radius: 20px;
}

.hero h1 {
  font-size: 5rem;
  font-weight: 800;
  color: #ffffff;
  margin-top: 40px;
}

.hero p {
  color: #ffffff;
  line-height: 20px;
}

.hero-btn {
  margin-top: 24px;
}

.transparent-btn {
  font-size: 1.25rem;
  border: 1px solid #00ff88;
  border-radius: 20px;
  color: #00ff88;
  font-weight: 600;
  background-color: transparent;
  padding: 12px 20px;
  margin-left: 8px;
}

.about {
  background-color: #1a0b2e;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 120px;
}

.about h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
}

.about p {
  max-width: 820px;
  margin: 16px auto;
  color: #ffffff;
  line-height: 32px;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 75%;
  max-width: 1200px;
  margin: 40px auto 0px;
  border-top: 1.5px solid #ffffff3c;
  padding-top: 40px;
}

.about-card h3 {
  color: #00ff88;
  font-size: 3rem;
}

.features {
  background-color: #230e3d;
  color: #ffffff;
  padding: 120px 0px;
}

.features h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.features img {
  height: 50px;
  width: 50px;
}

.feature-container {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.feature-card {
  background-color: #351165;
  padding: 45px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 40px;
}

.long-layout {
  grid-row: span 2;
}

.wide-layout {
  grid-column: span 2;
}

.feature-card h3 {
  font-size: 1.5rem;
  margin-top: 20px;
}

.feature-card p {
  line-height: 24px;
  margin-top: 16px;
}

.feature-card:hover {
  transform: translateX(-3px) translateY(-3px);
}

.episode, .host {
    background-color: #1a0b2e;
}

.episode h2, .host h2 {
    text-align: center;
    padding-top: 120px;
    color: #ffffff;
    font-size: 3rem;
}

.ep-container {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.ep {
    background-color: #250D44;
    border-radius: 20px;
}

.ep h3 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 24px;
    padding: 0px 24px;
}

.ep p {
    color: #ffffff;
    margin-top: 12px;
    padding: 0px 24px;
}

.ep-container .time {
    color: #00ff88;
    padding-bottom: 24px;
}

.ep .frame iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
}

.host {
  padding-bottom: 120px;
}

.host h2 {
  padding-bottom: 40px;
}

.host-container {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
  background-color: #351165;
  padding: 48px 40px;
  border-radius: 40px;
  align-items: center;
}

.host-container h3 {
  color: #ffffff;
  font-size: 2rem;
}

.host-container p {
  color: #ffffff;
  line-height: 24px;
  margin-top: 16px;
}

.host-icon {
  margin-top: 16px;
  display: flex;
  gap: 8px;
}

.host-icon .icon {
  width: 40px;
  height: 40px;
  border: 1px solid #533C72;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.host-icon .icon img {
  display: block;
}

.host-icon .icon:hover {
  transform: scale(1.125);
  background-color: #1a0b2e;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0px;
  text-align: center;
}

footer h2 {
  color: #ffffff;
  font-size: 3.75rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 40px;
  margin-top: 32px;
}

.footer-container a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.footer-icon a img {
  height: 16px;

}

footer small {
  color: #ffffff;
  font-size: 16px;
  margin-top: 32px;
}

@media screen and (max-width: 576px) {
  body {
    width: 100%;
  }

  nav {
    justify-content: space-between;
    padding: 20px;
  }

  nav h2 {
    font-size: 1.25rem;
  }

  nav ul li {
    display: none;
  }

  nav .primary-btn {
    display: none;
  }

  nav .menu-icon {
    display: inline;
  }

  .hero {
    padding: 40px 20px 24px;
  }

  .hero h1 {
    font-size: 2.5rem;
    margin-top: 16px;
  }

  .center-img {
    position: relative;
  }

  .circle img {
    width: 60%;
  }

  .center-icon img {
    width: 50%;
  }

  .new {
    background-color: #00ff88;
    font-weight: 600;
    color: #1a0b2e;
    padding: 8px 16px;
    position: absolute;
    top: 5%;
    left: 60%;
    border-radius: 20px;
  }

  .primary-btn,
  .transparent-btn {
    font-size: 1rem;
  }

  .about {
    background-color: #1a0b2e;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .about h2 {
    font-size: 2rem;
  }

  .about p {
    width: 90%;
    line-height: 20px;
  }

  .about-container {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    border-top: 1.5px solid #ffffff3c;
    padding-top: 40px;
  }

  .about-card h3 {
    font-size: 2.5rem;
  }

  .features {
    background-color: #230e3d;
    color: #ffffff;
    padding: 40px 20px;
  }

  .features h2 {
    font-size: 2rem;
  }

  .features img {
    height: 60px;
    width: 60px;
  }

  .feature-container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-top: 40px;
  }

  .feature-card {
    width: 100%;
    padding: 45px 40px;
    border-radius: 20px;
  }

  .long-layout {
    grid-row: span 1;
  }

  .wide-layout {
    grid-column: span 1;
  }

  .feature-card h3 {
    font-size: 1.375rem;
    margin-top: 16px;
  }

  .episode h2 {
    padding-top: 40px;
    font-size: 2rem;
}

.ep-container {
    width: 100%;
    padding: 45px 40px;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 24px;
}

.ep h3 {
    font-size: 1.25rem;
}

.host {
  padding-bottom: 40px;
}

.host h2 {
  padding-top: 48px;
  padding-bottom: 24px;
  font-size: 2rem;
}

.host-container {
  width: 90%;
  flex-direction: column;
  padding: 24px;
  border-radius: 24px;
  text-align: center;
  align-items: center;
}

.host-container h3 {
  font-size: 1.5rem;
}

.host-icon {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.host-icon .icon {
  justify-content: center;
}



.host-icon .icon img {
  display: block;
}

.footer-container {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 16px;
  margin-top: 24px;
}

footer small {
  margin-top: 24px;
}

}
